<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>real-time-web</title>

<!-- Styling -->
<link rel="stylesheet" href="css/styles.css">

<!-- Remove favoico.ico error -->
<link rel="shortcut icon" href="#"/>

<!-- Import Font -->
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<!-- socket.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>


