<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h3>Discord Bot :)</h3>
</main>

<footer>
    <% include ../partials/footer %>
    <script src="js/client.js"></script>
</footer>

</body>
</html>