<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <div id="chat">

        <div id="chat-window">
            <div id="output">

            </div>
        </div>
        <form id="form"> 
            <input id="handle" type="text" placeholder="handle">
            <input id="message" type="text" placeholder="message">
    
            <input type="submit" placeholder="Send">
        </form>

        <button id="clearmessages">Clear</button>
        
    </div>
    
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>