<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <form id="form"> 
        <input id="username" type="text" placeholder="Naam" required>

        <input type="submit" placeholder="Send">
    </form>
</main>

<footer>
    <% include ../partials/footer %>
    <script src="js/client.js"></script>
</footer>

</body>
</html>